table{
    border-collapse: collapse;
    border-width: 2px;
}

tr,td{
    padding: 15px;
    text-align: left;
    background-color: #5a72b9;
   border: 1px solid black;
}

.head{
    color: rgb(85, 85, 224);
    text-decoration: none;

}

a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a :hover{
    color:rgb(18, 18, 220);
}

.sp{
    color: rgb(33, 33, 33);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}